@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
  @apply py-2 px-4 bg-stock-blue-400 shadow-btn-blue-shadow enabled:hover:bg-stock-blue-500;
}
.btn-white {
  @apply py-2 px-4 bg-white shadow-btn-white-shadow;
  p {
    @apply text-stock-dark-800;
  }
}

@font-face {
  font-family: "PTBandocheB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PTBandocheR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheR.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
